body{
    height: 60%;
    background-color: rgba(199, 141, 34, 0.836)  ;
}
#heading{
    background-color: rgb(180, 152, 109);
    text-align: center;
    text-decoration: black; 
    font-size: 25px;
    height: 10%;
}
h1{
    font-size: 30px;
    margin-top: auto;
    margin-left: 170px;
    margin-bottom: 0%;
}
h2{
    font-size:5x ;
    margin-left: 180px;
    margin-top: 0%;
   
}
h3{
    font-size: 20px
}

.container
{
    
    width: auto;
    padding-left: 30px;
    padding-top: 30px;
   
}
img
{
    float: left;
    width: auto;
    height: 180;
    padding: 8 8 8 8 ;
    background-color: #897b3f75;
    border-width: 0.5px ;
    border-style: solid;
    border-color: rgb(0, 0, 0);                                                                                                                                                
}
.about{
    margin-top: auto;
    margin-left: 170px;
    font-size: 20px;
}
#body{
    height: 50%;
    width:80%;
}
#footer{
    text-align: center;

}