header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 7%;
    background-color: #333333;
}

.searchbox{
    top: -35px;
    color: white;
    left: 15%;
    height : 80%;
    width: 80%;
}
.drop-content{
    display: none;
    width: 231px;
    background-color:  #333333;
    margin-top: -49px;
}
.container {
    margin-left: 3%;
    margin-top: 5px ;
    display: inline-block;
    cursor: pointer;
}

#sb{
    position: relative;
    top: -35px;
    background-color: #161811;
    color: white;
    right :-15%;
    height:20px;
    border: #161811;
    border-width: 1px;
    border-radius: 1%;

}
#cross{
    position: relative;
    top: -34px;
    left: 13%;
    background-color: #161811;
    color: white;
    border: #161811;
    border-width: 1px;
    height: 21px;
    border-radius: 1%;

}
#login .one {

    position: absolute;
    float: right;
    top: 5px;
    right: 15px;
    width: 100px;
    height: 80%;
    text-decoration: none;
    color: blanchedalmond;
    font-size: 25px;
    margin-top: 5px;
}
#input{
    height: 10px;
    width: 100px;
    color: white;
}
#menu{
    display: inline-block;
    width: 40px;
    height: 80%;
    font-size: x-large;
    color: blanchedalmond;
    z-index: 5;
    margin-top: -10px;
}
#menu2{
    width: 0px;
    height: 80%;
    font-size: x-large;
    display: inline-block;
    z-index: 1;
    color: blanchedalmond;
    margin: -40px;
    margin-bottom: 10px;
    margin-top: -10px;

}
a.dropdownitems{
    text-decoration: none;
    font-size: 30px;
    font-family: Verdana,sans-serif;
    color: white;
    display: block;
    width : 225px;
    padding: 4px 0px 4px 6px;
}
#dropitems a:hover{
    background-color: wheat;
    color: black;
}
h1{
    font-family: sans-serif;
    margin-top: -39px;
    margin-left: 40%;
    position: fixed;
    margin-bottom: 10px;
}