.flex-container{
    height: 60px;
    background-color: rgba(5, 4, 4, 0.904);
    margin-top: 5px;
    top: 0px;
    flex-direction: row;
    display: flex;
    margin-left: -2%;
    margin-right: -2%;
}
.flex-container > div {
    margin: 10px;
    /* padding: 30px; */
    /* width: 60px; */
    height: 60px;
    font-size: 30px;
}
.dropdown {
    position: relative;
    display: inline-block;

}
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 200px;
    height: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    text-align: center;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
body{
    /* background-color: black; */
}
a.one{
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    padding: 0px 30px 3px 30px;
    font-family: Verdana,sans-serif;
    color: white;
    

}
a.one:hover{
    background-color: rgb(9, 255, 71);
    height: 40px;
    color: black;

}

.img{
    width: 270px;
    height: 320px;
    margin-left:15px ;
    margin-top: 35%;
    border: black;
    border-style:double;
    border-width: 5px;

}
.author{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 55px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}
.center{
    width: 800px;
    height: 90% ;
    position: absolute;
}
.center h1{
    text-align: center;
    color: #00cc00;
    font-size: 56px;
    /* font-family: 'Pushster', cursive; */
}
.center p{
    text-align: center;
    font-size: 20px;
    font-stretch: expanded;
}
.set{
    display: inline-block;

}
.left{
    width: 350px;
    height: 90% ;
}
.right{
    width:150px;
    margin-left: 60%;
    margin-top: 20%;
    position: absolute;

}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    margin-left: 25px;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  a.two{
      text-decoration: none;
      text-align: center;
      color: black;
    }



