h1{
	background-color:rgba(32, 198, 248, 0.616);
	font-size: 45px;
	text-align: center;
	margin-top: 10px;
	top: 0px;
	width: 100%;
	border-radius: 5px;
	background-size: cover;
    min-width: 1500px;
}
.head{
    width: 100%;
    margin-left: 0px;
    height: 39px;
    background-color: rgba(5, 4, 4, 0.904);
    text-align: center;
    position: relative;
    margin-top: -15px;
    top: 0px;
	min-width: 1500px;
}
a.one{
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    padding: 0px 30px 3px 30px;
    font-family: Verdana,sans-serif;
    color: white;
    min-width: 100%;

}
a.one:hover{
    background-color: rgb(255, 255, 255);
    height: 40px;
    color: black;
}
img{
	height: 700px;
	width: 470px;
}
.m{
    margin: 2cm;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    height: 700px;
    width: 1000px;
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 30px;
    padding-right: 30px;
    background-color:rgb(127 255 0 / 57%);
}
.bn{
    text-align: center;
    font-size: xx-large;
}
p,td{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    display: inline-block;
}
h2{
    display: inline-block;
    font-size: 35px;
}
.img{
    margin: 2cm;
    display: inline-block;
    margin: 10px;
    flex-grow: 0;
    flex-shrink: 0;
}
section{
    display: flex;
    justify-content: space-around;
    height: 700px;
    width: 100%;
}
#nav{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a{
    text-decoration: none;
}
button{
    width: 33%;
    height: 100%;
    font-size: 25px;
    cursor:pointer;
}
#button{
    height: 5%;
    width: 100%;
    
}
.button{
    height: 5%;
    width: 100%;
}
button:hover{
    box-shadow: 4px,4px,4px,5px;
    background-color: lightgrey;
    font-size: 27px;
}