body{
    background: #dbdb5e;
}
header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: #333333;
}
.class{
    position: relative;
    top: -35px;
    /*background-color: #161811;*/
    color: white;
    left: 15%;
    /*width: 40%;*/
    height: 70%;
}
.drop-content{
    /*display: none;*/
}
.container {
    margin-left: 3%;
    margin-top: 5px ;
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#search{
    position: relative;
    top: -35px;
    background-color: #161811;
    color: white;
    left: 15%;
    width: 35%;
    height: 65%;
    border: #161811;
    border-width: 1px;
}
#sb{
    position: relative;
    top: -35px;
    background-color: #161811;
    color: white;
    right :-200px;
    height: 65%;
    border: #161811;
    border-width: 1px;

}
#cross{
    position: relative;
    top: -35px;
    left: 13%;
    background-color: #161811;
    color: white;
    border: #161811;
    border-width: 1px;
    /*display: none;*/

}
#login {

    position: absolute;
    float: right;
    top: 5px;
    right: 15px;
}