.head{
    margin-top: 0.75%;
    position: fixed;
    width: 80%;
    background-color: black;
    /* opacity: 0.4; */
    margin-left: 10%;
    margin-right: 10%;
    height: 40px;
    text-align: center;

}
#search{
  top: 5px;
  width: 50%;
  align-items: center;
  margin-left: 19%;
  height: 40px;
  font-size: 30px;
  border-radius: 15px;


}
.bar{

}
.mag{
  height: 50px;
  width: 50px;
  top: -10px;
  border-radius: 50px;
}
.intro{
  background-color: #333;
  width:500px;
  height:30px;
  margin-left: 35%;
  font-size: 30px;
  color: azure;
  text-align: center;
}
div.intro:hover{
  color: orangered;
}
header:hover{
    opacity: 1;
    text-align: center;
}
a.one:link{
    top: 0px;
    margin-top: 5%;
    text-decoration: none;
    font-size: 35px;
    padding-left: 30px;
    text-align: center;
    align-self: center;
}
a.one:hover{
  text-align: center;
    font-size: 40px;
    text-decoration: solid;

}
#rcorners2 {
    border-radius: 10px;
  }

body{
    background-image: url("bgbook.jpg");
    background-size: cover;
}
div.scrollmenu {
  margin-left: 10%;
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    width: 80%;
  }
  div.scrollmenu::-webkit-scrollbar {
    display: none;
}
.img{
    width: 150px;
    height: 200px;
}
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }